@import "tailwindcss";

:root {
  cursor: none; /* Hide default cursor */
}

body {
  @apply bg-neutral-950 text-white selection:bg-blue-500 selection:text-white;
  margin: 0;
  overflow-x: hidden;
  /* Subtle background gradient */
  background-image: radial-gradient(circle at 50% -20%, #3b82f615, transparent);
  background-attachment: fixed;
}

/* Ensure all clickable items don't show the system arrow */
a, button, .project-card {
  cursor: none;
}